# Quarto
/.quarto/
_site/

# R
.Rhistory
.RData
.Ruserdata

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# Folders to gitignore
_book/

# Output files (optional - remove if you want to track PDFs)
*.pdf
*.html
**/*.quarto_ipynb

